/*初始化部分*/
html {
  /*letter-spacing: 1px;*/
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
body {
  font-family: NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei",
  "Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
  color: #777;
}
h1,h2 span,h3,h4,h5,h6 {
  color: #333;
  font-family: fzltxh,NotoSansHans-Regular,AvenirNext-Regular,arial,
  Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*初始化部分结束*/


/*css 从这里开始*/
